<!DOCTYPE html>
<html>
<head>
    <title>From Start To Finish!</title>
    <!--
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css"/>
    -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<section id='header' class="container">
    <div class="jumbotron jumbo-opacity border-dressing">
        <h2>From Start to Finish!</h2>
    </div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-border-dressing">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li <%= 'class="active"' if @active == 'home' %>><a href="/">Home</a></li>
                        <li <%= 'class="active"' if @active == 'recipes' %>><a href="/recipes">Recipes</a></li>
                        <li <%= 'class="active"' if @active == 'about' %>><a href="/about">About</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="/recipes">
                        <div class="form-group">
                            <input type="text" name="search" value="<%= @search %>" class="form-control" placeholder="Search for Recipes!">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-default"
                                    onclick="window.location.href='/recipes'">Reset
                            </button>
                        </div>
                    </form>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- .row -->
        </div>
        <!--/.container-fluid -->
    </nav>
</section>

<section class="container">
    <%= yield %>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
